.MainSection {
  position: relative;
  width: 100%;
  background-image: url("../../../public/img/mobile.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  border: none;
  padding: 65px 0;
}
.MainSection-left {
  padding-left: 40px;
}
.MainSection-left h3 {
  font-family: poppinsRegular;
  font-size: 23px;
  line-height: 20px;
}
.MainSection img {
  max-width: 350px;
  animation: robot 3s linear infinite;
  -webkit-animation: robot 3s linear infinite;
}
.MainSection-left h1 {
  font-size: 40px !important;
  color: var(--orange) !important;
}
.overaly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--poster-color);
  backdrop-filter: var(--backDropFilter);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@keyframes robot {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@media screen and (max-width: 1345px) {
  .MainSection-left h3 {
    font-size: 15px;
  }
  .MainSection img {
    max-width: 340px;
  }
}
@media screen and (max-width: 1200px) {
  .MainSection-left h3 {
    font-size: 12px;
  }
  .MainSection img {
    max-width: 310px;
  }
}
@media screen and (max-width: 1040px) {
  .MainSection {
    padding: 20px 0;
  }
  .MainSection img {
    max-width: 250px;
  }
}
@media screen and (max-width: 840px) {
  .MainSection {
    padding: 10px 0;
  }
  .MainSection-left {
    padding-left: 72px;
  }
}
@media screen and (max-width: 688px) {
  .MainSection {
    height: 350px;
  }
  .MainSection-left {
    padding-left: 40px;
  }
  .MainSection-left h1 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 520px) {
  .MainSection img {
    max-width: 200px;
  }
}
@media screen and (max-width: 414px) {
  .MainSection img {
    max-width: 180px;
  }
  .MainSection-left h1 {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 375px) {
  .mainsection-img {
    position: absolute;
    z-index: -1;
    top: 130px;
    right: 10px;
    width: 150px;
  }
  .overaly {
    align-items: start;
  }
  .MainSection {
    height: 315px;
  }
  .overaly{
    padding: 0 23px;
  }
  .MainSection-left{
    margin-top: 25px;
    padding-left: 0;
  }
}

