.btnHeader-icons {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--buttonColor);
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: var(--main-shadow);
  cursor: pointer;
  color: var(--fontColor);
}
.btnHeader-icons:hover{
  box-shadow: var(--main-shadow-hover);
}
.btnHeader-icons span {
  color: var(--fontColor);
  font-size: 11px;
  font-family: poppinsLight;
  /* margin-left: 10px; */
}
@media screen and (max-width: 688px) {
  .btnHeader-icons {
    justify-content: start;
    padding: 4px 10px;
    gap: 10px;
    background-color: inherit;
    box-shadow: none;
  }
  .btnHeader-icons svg {
    width: 20px;
    height: 20px;
  }
  .btnHeader-icons span {
    font-size: 10px;
  }
}
